Button.borrar {
  margin-right: 15px;
}
.contenedorB {
  display: flex;
  flex-direction: row;
}
body{
  background-color: rgb(46, 42, 83);
  color: white;
}
.inicio{
  margin-top: 15px;
}
.titulo{
  font-weight: bold;
  color:white;
}
.formulario{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}