Button.borrar {
  margin-right: 15px;
}
.contenedorB {
  display: flex;
  flex-direction: row;
}
body {
  background-image: url("wallpaper.png");
  color: white;
}
.hero {
  margin-top: 15px;
}
.titulo {
  font-weight: bold;
  color: white;
}
.formulario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
